@model MensagemPartialModel

@{

    if (Model == null){
        
    } else if(Model != null){
        if(Model.TipoMSG == "Sucesso"){
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.Mensagem</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        } else if(Model.TipoMSG == "Erro"){
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@Model.Mensagem</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        
    }
}