@model EnderecoModel

<form asp-controller="Endereco" asp-action="Cadastrar" class="form-control m-3">
    <input asp-for="EnderecoId" hidden>
    <input asp-for="ClienteId" hidden>
    <div class="m-3">
     <label asp-for="cep">CEP</label><input class="form-control" asp-for="cep" required minlength="8" maxlength="8" onfocusout="popularTeste()">
     <p name="teste" id="teste"></p>
    </div>
    <div class="m-3">
     <label asp-for="complemento">Complemento</label><input class="form-control" asp-for="complemento" required>
    </div>
    <button type="submit" class="btn btn-secondary">Salvar</button>
</form>


